.custom-footer {
  background: #162950;
  margin-top: 55px;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
}
.footer-link a,
.footer-link a:hover,
.footer-link a:active {
  text-decoration: none;
  margin-right: 22px;
  color: bl;
}

.fab {
  color: #162950 !important;
  cursor: pointer;
}
