@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=PT+Sans|Roboto&display=swap");
html,
body {
  margin: 0px !important;
  padding: 0px !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
.nav-link,
span :hover {
  cursor: default;
}
.c-pointer {
  cursor: pointer;
}

#mainNav {
  background-color: #f8f9fa;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  border: 0;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 1em 0 !important;
  letter-spacing: 1px;
  cursor: pointer;
  color: "#000";
}

#mainNav.navbar-shrink {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #f8f9fa !important;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #f8f9fa;
  }
  #mainNav .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1em 1em !important;
  }
}

header.masthead .intro-text {
  padding-top: 150px;
  text-align: center;
  color: black !important;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

header.masthead .intro-text .intro-lead-in,
.pricing-lead {
  font-size: 22px;
  line-height: 35px;
  color: black !important;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
header.masthead .intro-text .intro-desc,
.pricing-lead-second {
  font-size: 13px;
  line-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/*  */
/*  */

@media (min-width: 768px) {
  header.masthead .intro-text {
    padding-top: 200px;
    text-align: left;
  }
  header.masthead .intro-text .intro-lead-in {
    font-size: 40px;
    line-height: 55px;
    margin-bottom: 25px;
  }
  .pricing-lead {
    margin-top: 25px;
    font-size: 40px;
    line-height: 55px;
  }
  header.masthead .intro-text .intro-desc {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 25px;
  }
  .pricing-lead-second {
    font-size: 20px;
    margin-top: 25px;
  }
}

/* Carousel */
.carousel {
  min-height: 100vh;
  position: relative;
}
.carousel img {
  min-height: 100vh;
}

.masthead {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
